body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*HEADER SECTION*/

header {
    background-color: #1F2937;
}

header .container {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    justify-content: space-between;
    margin: auto;
    max-width: 80%;
}

.logo {
    justify-content: center;
    font-size: 32px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 18px;
    
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row; 
    gap: 16px;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}


/*HERO SECTION*/


.hero {
   background-color: #1F2937; 
}

.hero-text button {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 10%;
    font-size: 16px;
    box-shadow: none;
    padding: 8px;
    cursor: pointer;
    width: 100px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;

}

.hero-text p {
   color: #F9FAF8; 
   font-size: 18px;
}

.container .hero-text {
    width: auto;
    height: auto;
    justify-content: center;
    max-width: 100%;
}

.hero .container {
    display: flex;
    padding: 45px;
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-around;

}

.cat-image img {
    width: 100%;
    height: auto;
    display: block;
    border: solid 2px #ffffff;
}


.cat-image {
    display: flex;
    max-width: 50%;
    justify-content: flex-end;
}

/* INFO SECTION */

.info {
    margin: auto;
    padding: 45px;
}

h2 {
    display: flex;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    justify-content: center;
}

.info .container {
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

.cat-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.cat-info img {
    width: 60%;
    height: auto;
    display: block;
    border: solid 3px #1F2937;
    margin: auto;
}

.cat-info p {
    font-size: 24px;
}
