body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



header .container {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 16px;
    margin: auto
    
}

.logo {
    justify-content: center;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row; 
    gap: 16px;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

